<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.project.comment.CommentMapper"> <!-- src/main/java 안의 인터페이스 폴더 경로와 일치해야함 -->

	<insert id="insert" parameterType="kr.co.project.comment.CommentVO"> <!-- 인터페이스에도 insert가 잇어야함 -->
		INSERT INTO comment (content,member_no,board_no,regdate,tablename)
		VALUES (#{content},#{member_no},#{board_no},NOW(),#{tablename})
		<!-- inset는 #쓰는게 좋음/ #은 자동으로 ''이 붙음/{BoardVO안에 있어야함}  -->
		<!-- mysql에서는 null값 에러 안남 / 오라클은 null 에러 / no는 ai로 지정해서 insert안해도 저절로 1씩증가 -->
	</insert>
	
	<!-- 어떤게시판의 몇번게시글번호인지 -->
	<select id="count" parameterType="kr.co.project.comment.CommentVO" resultType="java.lang.Integer"> <!--인트로 리턴 못하므로/오토언박싱됨 java.long.Integer=> int로 사용가능  where   title LIKE '%%' , content LIKE '%%' , TITLE like '%%' or content LIKE '%%' -->
		SELECT COUNT(*) FROM comment <!-- 테이블명도 $ -->
		WHERE board_no = #{board_no} AND tablename = #{tablename}
	</select>
	
	<select id="list" parameterType="kr.co.project.comment.CommentVO" resultType="kr.co.project.comment.CommentVO">
		select *,
			 (select name from member where no=comment.member_no) AS member_name
		from comment 
		WHERE board_no = #{board_no} AND tablename = #{tablename}
		ORDER BY regdate DESC
		LIMIT ${startIdx},${pageRow}
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE FROM comment WHERE no=#{no}
	</delete>
	
	
</mapper>